
  <h2>Toplist</h2>
  <div>
        <table class="table table-striped table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th class="id">Player</th>
                            <th class="name">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jozsi</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
 </div>

  <button (click)="goBack()">Back</button>
